@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Restablecer confirmación de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your password has been reset. Please <a asp-page="./Login">Haga clic aquí para ingresar</a>.
</p>
