@model IEnumerable<Restaurante.Model.CatalogoDeOrdenes>

@{
    ViewData["Title"] = "Index";
}
<h1><center>Ordenar Mesa</center></h1>
<hr />
<h4>Mesas</h4>
<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Ordenar", "OrdenarMesa", new { id = item.id}) |
                @Html.ActionLink("Servir", "ServirMesa", new { id = item.id })
            </td>
        </tr>
}
    </tbody>
</table>
