@model Restaurante.Model.AsociarAlMenu

@{
    ViewData["Title"] = "Asociar";
}
<h1><center>Asociar platillo al menu</center></h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Asociar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           


            <div class="form-group">
                <label asp-for="idIngrediente" class="control-label"></label>
                 @Html.DropDownList("idIngrediente", new SelectList(ViewBag.ListaDeIngredientes, "Id", "Nombre"), new{@class = "form-control input-lg"})
            </div>
            <br />
            <div class="form-group">
                <label asp-for="idMedidas" class="control-label"></label>
                @Html.DropDownList("idMedidas", new SelectList(ViewBag.ListaDeMedidas, "Id", "Nombre"), new{@class = "form-control input-lg"})
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <br />
          
            <div class="form-group">
                <input type="submit" value="Asociar" class="btn btn-primary" />
                <input asp-for="idMenu" class="form-control" type="hidden" id="id"/>
            </div>
        </form>
    </div>
</div>
<script>
    document.getElementById("id").value = @ViewBag.id;
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
